*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

 /* Styles of page begin here */

.header-image {
  background-image: url('./resources/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  
}

.logo {
  margin-top: 2em;
  margin-left: 2em;
  width: 70px;
  height: 70px;
}

.nav-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-direction: column;
  margin-right: 2.8em;
}

.header-nav-ul {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.header-nav-ul-li {
  list-style: none;
  color: white;
 

}

.what-about{
  display: flex;
  flex-direction: column;
  margin-left: 8em;
  align-items: start;
  
}


.bigger-letters{
  font-size: 60px;
  line-height: 1em;
  color: white;
  margin-bottom: 0.5em;
}

.section-cletters{
  width: 40%;
  word-break: break-word;
  margin-bottom: 12em;
}

.letters{
  font-size: 22px;
  color: white;
  text-align: start;
  
}

.what-we-do{
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  gap: 2em;
  justify-content: center;
}

.card-our-work{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   width: 40%;
   gap: 1em;
  
}

.description-work{
  
  word-break: break-word;

}
.description-work-p{
  text-align: left
}

.more-info{
  width: 12em;
  background: transparent;
  color: #B1835D;
  border: 2px solid #B0825C;
}

.description-work-h3{
  font-size: 2em;
}

.grey-line{
  margin-top: 8em;
  border: 2px solid #CCCCCC;
}

.sponsors{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}

.sponsors-h3{
  font-size: 3em;
  color: #BF9A7B;
}
.sponsors-p{
  max-width: 1440px;
  font-size: 1.3em;
  color: grey;
  text-align: center;
}

.partners{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 6em;
  gap: 6em;
}

.partner-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #DDDDDD;
  border-radius: 50%;
  width: 200px;
    height: 200px;
}

.partenr-img{
  padding-top: 2em;
  padding-bottom: 2em;
  width: 60%;
}