body {
    font-family: Arial, sans-serif;
}


.container {
    width: 1500;

}

.home-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
}

.animal-help {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    justify-content: center;
    margin-left: 3em;
}

.home-header-nav {
    display: flex;
    flex-direction: row;
    margin-right: 3em;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
    font-size: 22px;
    font-weight: 600;
}

.introduction-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background: #85DCFF;

    background: linear-gradient(0deg,

            rgba(133, 220, 255, 1) 98%,
            rgb(205, 207, 207) 100%);
}

.give-a-paw {
    background-image: url('./Images/Promo-MemberPaw.jpg');
    width: 100%;

    background-size: 85%;
    background-repeat: no-repeat;
    box-sizing: border-box;


}

.make-a-difference {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9em;
    margin-top: 9em;
    gap: 1.5em;
}

.make-a-difference-slogan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.title-h1 {
    font-size: 24px;
    margin-bottom: 0.5em;
}

.make-a-difference-slogan {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 7.5em;
    font-size: 16px;

}

.donate {
    background: white;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 14px;
    font-weight: 600;
}

.join,
.what-we-do-btn {
    background: black;
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 2.6em;
    padding-right: 2.6em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-weight: 600;
}

.make-a-difference-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2em;
    margin-left: -2.3em;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.what-we-do-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-we-do-p1 {
    width: 500px;
    font-weight: 550;
    text-align: center;
}

.what-we-do-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 7em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-h3 {
    width: 300px;
    text-align: center;
}

.we-work-to {
    background: #85DCFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.we-work-to-h1 {
    font-size: 24px;
    font-weight: 600;
}

.section-with-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 700px;
    gap: 2em;
}

.ul-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 0;
}


.ul-one-li::marker {
    padding-right: 0;
    margin-right: 0;
    font-size: 2.5em;
}

.what-we-do-btn {

    font-weight: 10;

}

.all-animals-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.all-animals-h1 {
    font-size: 35px;
    font-weight: 900;
}

.all-animals-h3 {

    font-weight: 300;
}

.animals-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    padding-bottom: 2em;
}

.how-we-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}

.how-we-work-h1 {
    font-size: 28px;
    font-weight: 600;
}

.how-we-work-section {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 900px;
    gap: 2em;
}

.how-we-work-section-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 900px;
    border: 0.1px solid rgb(218, 214, 214);
    border-radius: 8px;
}


.how-we-work-section-h1 {
    background: #85DCFF;
    width: 100%;

}

.contact-us {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2em;
}

.get-in-touch {
    display: flex;
    flex-direction: column;

    padding-right: 10em;
    width: 800px;
    gap: 4em;
}


.get-in-touch-h1 {
    font-size: 34px;
}

.get-in-touch-p {
    font-size: 20px;
}

.get-in-touch-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2em;

}

input {
    height: 3.8em;
    width: 20em;
    border-radius: 6px;
    padding-left: 1em;
    border: 1px solid #b6b8b9;
}

.btn-send {
    background: black;
    color: white;
    height: 3.5em;
    width: 14em;
    border-radius: 6px;
}

.home-page-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 2em;

}

.socials {
    padding-left: 18em;
}

.Copyright-span {
    padding-right: 4em;
    font-weight: 600;
}