@media (max-width: 600px) {

   .div-logo {
      display: none;
   }

   .div-header>ul {
      display: none;
   }

   header>h3 {
      font-size: 14px;
   }

   header>h1 {
      font-size: 20px;
   }

   button.button-header {

      margin-top: 30px;
      margin-bottom: 30px;
   }

   .options {
      
      flex-direction: column;
      
   }
   header .options article {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      
    }

    .options article a {
      display: none;
      
    }

    .gallery{
      flex-direction: column;
      align-items: center;
    }
    
    .gallery>article>img {
      width: 180px;
      
      
    }
    .gallery article div{
       display: none;
    }
    main .blog h4 {
      font-size: 26px;
    }


    main .blog span{
      display: none;
    }

    main .blog a{
      display: none;
    } 
    
    .blog article {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .blog article #about-blog {
     display: flex;
      flex-direction: column;
      width: 96%;
      height: 10%;
     
    }

    .blog article #about-blog h3 {
      display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
      font-size: 14px;
     }

     .blog article #about-blog p {
      display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
         font-size: 10px;
     }
   
    main .blog img{
      display: none;
      
    } 

    
#about-blog button {
   width: 10em;
   padding: 0px 0px;
   
 }

 .magazine .magazine-title h4 {
   font-size: 18px;
   transform: translateX(-10%);
}

 .magazine-title span{
   font-size: 10px;
  }

  .magazine article #magazine-img{
    transform: translateX(15%);
  }
  .magazine-title a {
   display: none;
  }

  .magazine article{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      
  }
 
  .magazine .magazine-info{
    margin: 70px;
}


main .magazine article {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
     
  }
  main .magazine article .magazine-info  {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .magazine article .magazine-info p {
    font-size: 14px;
    text-align: center;
    margin-left: 2em;
  }
  .magazine-info h2 {
    font-size: 18px;
    margin-left: 8em;
  }

  .magazine .magazine-info img{
    width: 100%;
    height: 150px;
    margin-left: 80px;
  }

  .magazine-info h3 {
    font-size: 16px;
    margin-bottom: 2em;
  }
  main .magazine article .magazine-info button {
    margin-left: 7em;
    font-size: 10px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  
  footer .icons {
    display: flex;
    flex-direction: column;
    font-size: 6px;
  }
}