*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.container{
    /* width: 1600px;
    border: 1px solid grey;
    margin-left: 4em;
    margin-top: 2em; */
    
font-family: 'PT Sans', sans-serif;

}

.home-header{
    background: rgb(208, 25, 25);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'PT Serif', serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.tel, .adress{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 2em;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
    padding-right: 2em;
}

.welcome{
    color: white;
    width: 100%;
    height: 500px;
    background: url("./image/fitness-main.jpg");
    background-position: center;
    background-size: 100%;
}

.home-nav-ul{
    list-style: none;
    display: flex;
    font-size: 16px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 4.2em;
    padding-right: 2em;
    padding-top: 1em;
    font-family: 'PT Serif', serif;
}

.welcome-presnt{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 6em;
}

.welcome-h1{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 10px;
    padding-bottom: 1em;
}

.welcome-p1{
    width: 400px;
    text-align: center;
    padding-bottom: 2em;
    font-family: 'PT Serif', serif;
}

.welcome-btn{
    background: rgb(208, 25, 25);
    color: white;
    border-radius: 6px;
    border: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1em;
    padding-bottom: 4em;
}
.services-h1{
    font-size: 28px;
    padding-top: 1.2em;
    font-family: 'PT Serif', serif;
    
    
}
.service-underline{
    background: rgb(208, 25, 25);
    width: 3em;
    height: 0.2em;
    border: 12px;
}

.services-card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 14em;
    justify-content:space-evenly;
}

.service-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
}
.service-h1{
    font-size: 18px;
    color: #D22B27;
}
.service-p{
    width: 300px;
    color: rgb(88, 86, 86);
    font-weight: 100;
    text-align: center;
}

.Coaches{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1em;
    padding-bottom: 4em;
    background: rgb(239, 239, 239);
}

.coach-name{
    font-size: 18px;
}

.service-pn{
    width: 250px;
    font-size: 14px;
    color: rgb(156, 154, 154);
    font-weight: 100;
    text-align: center;
}

.home-footer{
    background:  rgb(208, 25, 25);
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'PT Serif', serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}