

.main-view {
    
    background-image: url('./resources/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 5em;
}

.first-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.second-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    
 
}

.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background: #FFFFFF;
   
    
    
}

.card2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #FFFFFF;
   width: 60%;
}

.introduction-and-picture{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: nowrap;
   

}




.introduction-and-picture2{
    display: flex;
    flex-direction: column;
   align-items: start;
  
   
}


.introduction-picture2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 8em;
}


img{
    width: 205px;
    height: 205px;
    border-radius: 50%;
    
    
}

.third-person{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}




.quotes, .quotes2 {
    display: flex;
    flex-direction: row;
    
    font-size: 6em;
}


.introduction-section{
    display: flex;
    flex-direction: column;
    width: 60%;
   
}  

.introduction-p{
    width: 80%;
    
}

.introduction-p2{
    text-align: center;
    padding: 3em;
    
}

.space{
   
    border: 1px solid #F1F1F1;
    width: 100%;
}
