*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    width: 1500px;
    margin-left: 2em;
    margin-top: 2em;
    border: 1px solid grey;
}

.nav-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 6em;
}


.nav {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: end;

}

.symbol-and-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 1em;
    align-items: center;
    color: #4E5774;
}

.symbol {
    fill: #4E5774;
}

.site-map {
    display: flex;
    justify-content: end;
    gap: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pics-holder{
    
    background: url('./image/slider.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 450px;
}
.logo {
    background: rgb(207, 170, 58);
    background: linear-gradient(233deg, rgba(207, 170, 58, 1) 0%, rgba(198, 162, 52, 1) 100%);
    width: 150px;
    padding-left: 1.5em;
    border-radius: 4px;
    transform: translateY(-4em);
    margin-left: 4em;
    padding-bottom: 1.2em;
    padding-top: 1em;
}

.article-section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    background: #0e0d0d;
    opacity: 0.8;
    width: 500px;
    margin-left: 4em;
    color: white;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 1em;


}
.article-section-h1 {
   font-size: 22px;
   font-weight: 900;
}
.article-section-p {
    width: 350px;
}

.article-section-btn{
    border: 3px solid white;
    background: transparent;
    color: rgb(253, 162, 6);
    font-size: 18px;
    font-weight: 800;
    padding: 0.5em;
}

.budapest-card{
    background: rgb(207, 170, 58);
    background: linear-gradient(233deg, rgba(207, 170, 58, 1) 0%, rgba(198, 162, 52, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 1em;
}

.budapest-card-h1{
    color: white;
    padding-top: 2em;
}
.pointing-heand{
    font-size: 28px;
}
.budapest-card-p{
    color: white;
}

.budapest-card-btn{
    font-size: 16px;
   color: white;
   background: transparent;
   border: 2px solid white;
   margin-bottom: 2em;
}

.your-stay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.your-stay-card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: center;
}
.your-stay-card{
    display: flex;
    flex-direction: column;
    
    flex-wrap: nowrap;
    gap: 2em;
   
}
.your-stay-img{
    display: flex;
    justify-content: center;
}
.card-img{
    border-radius: 50%;
    padding: 0.15em;
    border: 2px solid rgb(81, 87, 116);
}
.your-stay-p{
    width: 200px;
    text-align: center;
}
.your-stay-h1{
    font-size: 32px;
    width: 800px;
    text-align: center;
}
.your-stay-title-p{
    font-size: 22px;
}
.your-stay-h1, .your-stay-title-p, .your-stay-p{
    color: rgb(81, 87, 116);
}


.NEWSLETTER-and-SUBSCRIBE{
    display: flex;
    flex-direction: row;
  
    background: rgb(207, 170, 58);
    background: linear-gradient(233deg, rgba(207, 170, 58, 1) 0%, rgba(198, 162, 52, 1) 100%);
    padding-top: 2em;
    padding-bottom: 2em;
}
.NEWSLETTER{
    color: white;
    margin-left: 4em;
}
.NEWSLETTER-btn{
    font-size: 14px;
    font-weight: 900;
    margin-left: 70em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border: 2px solid white;
    color: white;
    background: transparent;
}
