/* font-family: 'Abril Fatface', serif;
font-family: 'Roboto', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}


.container {
    /* width: 1500px;
    border: 1px solid gray; */
    /* margin-left: 5em;
    margin-top: 4em; */
    font-family: 'Roboto', sans-serif;
}

.presentation {

    background: url("./image/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 2em;
    padding-bottom: 16em;


}

.inerior {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 16em;
    height: 16em;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background: transparent;
    box-shadow: 10px 5px 5px gray;
    border: 1px solid rgb(177, 173, 173);
    overflow: auto;
   
    margin-left: 8em;
   
}

.presentation {
    display: flex;
    flex-direction: column;
}

.inerior-h1 {
    font-size: 40px;
    font-family: 'Abril Fatface', serif;
    padding-top: 0.7em;
    margin-left: 0.7em;
    color: rgb(54, 52, 52);

}

.inerior-underline {
    border: 1.8px solid white;
    width: 10em;
    margin-left: 1em;
    border-radius: 12px;
}

.inerior-h3 {
    font-size: 18px;
    font-weight: 400;
    margin-left: 1em;
    padding-bottom: 1em;
}

.presentation-info {
    background: rgb(156, 147, 140);
    background: linear-gradient(158deg, rgba(156, 147, 140, 1) 1%, rgba(203, 200, 199, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20em;
    box-shadow: 10px 5px 5px gray;
    margin-left: 70em;
    margin-bottom: 16em;

}

.presentation-p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    text-align: right;
    padding: 1em;
    font-size: 16px;
    padding-top: 0;

}
.quotes{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: end;
   
}
.preconnect-quotes{
    margin-left: 4em;
    font-weight: 900;
    font-size: 70px;
    color:  rgb(121, 114, 111);
    padding-bottom: 0;
}


.our-services{
    width: 100%;
    background: rgb(240, 240, 243);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 6em;
   
}
.our-services-h1{
    font-size: 40px;
    font-family: 'Abril Fatface', serif;
}

.our-services-p::first-letter{

    font-weight: bold;
    
    font-size: 32px;
    
}
.our-services-span{
    font-weight: bold;
}

.second-part{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.contact{
    width: 100%;
    background: rgb(240, 240, 243);
    display: flex;
    flex-direction: column;
}

.contact-h1{
    font-size: 40px;
    font-family: 'Abril Fatface', serif;
    margin-left: 1.2em;
}

.line{
    border: 2px solid rgb(156, 156, 156);
    margin-bottom: 2em;
}
.phone-and-adres{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}
.phone, .names{
    margin-left: 2.8em;
}
form{
    margin-left: 2.8em;
    margin-bottom: 3em;
}
.input-email{
    background: rgb(186, 177, 173);
    color: white;
    border-radius: 6px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 7em;
    border: none;
}

button{
    background: rgb(103, 120, 77);
    color: white;
    border-radius: 6px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 1em;
    border: none;
}






.number-talk{
    background: rgb(187, 177, 173);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: white;
    width: 30%;
    height: 100%;
    gap: 6.5em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1.7em;
   
}

.number{
    font-size: 60px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
}

.number-card{
    display: flex;
    flex-direction: column;
    
}

.services{
    display: flex;
    flex-direction: row;
}

.description{
    width: 70%;
}

.sometext{
    color: black;
}