*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    width: 1500px;
    margin-left: 2em;
    margin-top: 2em;
    border: 1px solid grey;
   font-family: "Agbalumo";
}

.container{
    margin: 1em;
    border: 1px solid black;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(213, 235, 234);
    padding-top: 2em;
}
.h1-country{
    font-size: 40px;
}

.underline{
    border: 1px solid black;
    width: 90%;
}
.map-and-info{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    
}
.map{
    background: url("./images/map.webp");
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 2em;
    margin-right: 2em;
}
.info-under-map-p{
    width: 380px;
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 2em;
}
.main-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}