/* font-family: 'Abril Fatface', serif;
font-family: 'PT Sans', sans-serif; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    width: 1500px;
    border: 1px solid gray;
    margin-left: 2em;
    margin-top: 2em;
    font-family: 'PT Sans', sans-serif;

}

.first-section {

    background-image:
        linear-gradient(to bottom, rgba(12, 12, 12, 0.9), rgba(241, 240, 239, 0)),
        url("./image/computer-main.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    padding-bottom: 100px;
   

}

.section-svg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30em;
    padding-top: 2.5em;
}

.svg-1{
    display: flex;
    gap: 1em;
}

span{
    font-size: 24px;
    font-weight: 200;
}

.whiteboard{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 4em;
}

.whiteboard-h1{
    font-size: 65px;
}
.whiteboard-p{
    font-size: 26px;
    width: 600px;
    text-align: center;
    padding-bottom: 2em;
}

.whiteboard-btn{
    font-size: 22px;
    font-weight: 400;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    background: rgb(0, 208, 142);
    border-radius: 8px;
    border: none;
}

.whiteboard-p-arrow{
    font-size: 24px;
    padding-top: 2em;
}

.hustle-what{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.tablet{
    width: 50%;
}
.hustle-notes{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 4em;
    padding-top: 2em;
}
.hustle-notes-h1{
    font-size: 26px;
}

.hustle-notes-p{
    font-size: 20px;
    width: 400px;
    font-weight: 500;
}


.green-circle{
 color: rgb(0, 208, 142);
 font-size: 28px;
}

.idiea1{
    font-size: 20px;
}

.hustle-case{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 2em;
}

.hustle-case-description{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3em;
    
    
}

.hustle-case-h1{
    font-size: 28px;
    text-align: center;
    padding-top: 2em;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    
}

.sketching{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.descrition{
    
    color:  rgb(0, 208, 142);
}

.have-questions{
    background: rgb(178, 241, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
    align-items: center;
}
.have-questions-h1{
    font-size: 30px;
    padding-top: 1em;
}

.card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    gap: 12em;
}

.card{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 1em;
    width: 300px;
}

.card-h1{
    font-size: 22px;
    text-align: center;
}

.card-p{
    text-align: center;
}

.have-questions-p3{
    padding-bottom: 2em;
}