body {
    width: 1500px;
    border: 1px solid gray;
    margin-top: 2em;
    margin-left: 2em;
}

.left-section{
    background: url("./image/cover.jpg");
    filter: brightness(40%);
    background-position: center center;
    background-size:cover;
    position: relative;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}

.logo{
    color: white;
} 